In [ ]:
#리스트 함축 사용하기
#0~99까지 정수 중에서 2의 배수이고 동시에 3의 배수인 수를 모아서 리스트로 만들어보자

numbers = [x for x in range(100) if x%2 == 0 and x%3 ==0]
print(numbers)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
alist = ['짝수' if i%2 == 0 else '홀수' for i in range(10)]
print(alist)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [ ]:
#2차원 리스트 
s = [
      [1,2,3,4,5],
      [6,7,8,9,10],
      [11,12,13,14,15]
]
print(s)
print(s[1][2])
print(s[1][2:4])

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
8
[8, 9]

In [ ]:
#2차원 리스트와 리스트 함축
matrix1 = []

for _ in range(6) :       #_ 언더바도 변수로 사용이 가능하다
  matrix2 = []
  for i in range(5) :
    matrix2.append(i)
  matrix1.append(matrix2)

print(matrix1)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
matrix = [[i for i in range(5)] for _ in range(6)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
matrix = [[0,0,0],[1,1,1],[2,2,2]]
result = []

for row in matrix:
  for num in row :
    result.append(num)
print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
matrix = [['하나','둘','셋'],['넷','다섯','여섯'],['일곱','여덟','아홉']]

count = 1
for row in matrix :
  for num in row :
    print(count, num)
    count += 1

1 하나
2 둘
3 셋
4 넷
5 다섯
6 여섯
7 일곱
8 여덟
9 아홉

In [ ]:
#튜플
#튜플 생성시 () 소괄호를 써도 되고, 안써도 생성이 가능하다.
#1개의 원소를 가진 튜플 생성시 반드시 , 콤마를 뒤에 작성해야 튜플로 생성이 된다.

In [ ]:
#enumerate() 사용 예제
fruits = ["apple", "banana", "grape"]
print(list(enumerate(fruits)))
for index, value in enumerate(fruits):
  print(index, value)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]
0 apple
1 banana
2 grape

In [ ]:
alist = [1,2,3,4,5,1,2]
result = {x for x in alist if x%2==0}
print(result)

{2, 4}

In [ ]:
#집합
#합집합 c = a | b or c = a.union(b)
#교집합 c = a & b or c = a.intersection(b)
#차집합 c = a - b or c = a.difference(b)

#리스트 <-> 세트 변환
list1 = [1,2,3,4,5,1,2,4]
print(len(set(list1)))

list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
print(set(list1) & set(list2))

5
{3, 4, 5}

In [ ]:
#딕셔너리
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
print(capitals["Korea"])

Seoul

In [ ]:
capitals = {}
capitals["Korea"] = "Seoul"
capitals["USA"] = "Washington"
capitals["UK"] = "London"
capitals["France"] = "Paris"
print(capitals)

{'Korea': 'Seoul', 'USA': 'Washington', 'UK': 'London', 'France': 'Paris'}

In [ ]:
capitals = {"Korea":"Seoul"}
c = capitals.pop("Korea")     #Korea 키 값에 해당하는 Seoul이 c 에 저장됨
print(c)
print(capitals)

Seoul
{}

In [ ]:
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}

print(capitals.items())
print(list(capitals.items())[0])
print(capitals.keys())
print(capitals.values())

dict_items([('Korea', 'Seoul'), ('USA', 'Washington'), ('UK', 'London')])
('Korea', 'Seoul')
dict_keys(['Korea', 'USA', 'UK'])
dict_values(['Seoul', 'Washington', 'London'])

In [ ]:
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
for key, value in capitals.items() :
  print(key,value)

for key in capitals.items() :
  print(key)

Korea Seoul
USA Washington
UK London
('Korea', 'Seoul')
('USA', 'Washington')
('UK', 'London')

In [ ]:
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
for key in sorted(capitals.keys()) :
  print(key,end=" ")

Korea UK USA

In [ ]:
#딕셔너리 함축

values = [1,2,3,4,5,6,7,8,9]

dic = { x:x**2 for x in values if x%2 == 0 }
print(dic)

{2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}

"Korea" in capitals
"Seoul" in capitals # in 연산자가 Key의 값으로 찾기 때문에 False 가 나온다.

False

In [ ]:
#회문 검사하기
#앞으로 읽나 뒤로 읽나 동일한 문장을 의미

s = input("문자열을 입력하시오: ")

s1 = s[::-1]    #문자열을 거꾸로 만든다

if( s == s1) :
  print("회문입니다.")
else :
  print("회문이 아닙니다.")

문자열을 입력하시오: asdfdsa
회문입니다.

In [ ]:
#문자 분류 외우기
"ABCabc".isalpha()    #알파벳으로 이루어져 있는지

"123".isdigit()       #숫자로 이루어져 있는지

"abc".islower()       #소문자로 이루어져 있는지

True

In [ ]:
#튜플 언패킹
a, b, *c = (0, 1, 2, 3, 4, 5)
print(c)

[2, 3, 4, 5]

In [ ]:
#딕셔너리 규칙
#딕셔너리의 키는 수정이 불가능한 타임만 가능
#숫자 문자열 튜플

test = {(1,1):1000}

print(test[(1,1)])

test2 = {[1,1]:1000} #리스트는 키가 될 수 없다.

In [ ]:
#클래스
class Avante:      #아반떼 설계도, 차 속성은 가격만 설정
  def __init__(self, price) :
    self.price = price

oshAvante = Avante(2500)

#oshAvante로 Avante(2500)을 실행했을때
class Avante:  
  def __init__(oshAvante, 2500) :
    oshAvante.price = 2500

In [ ]:
class Avante:      #아반떼 설계도, 차 속성은 가격만 설정
  def __init__(self, price) :   # initialization 함수, 특수 메소드
    print("객체 생성")
    print(price)

oshAvante = Avante(2500)

객체 생성
2500

In [ ]:
#연습
class Sonata:
  def __init__(self, price):
    print("소나타 생성")

kskSonata = Sonata(3000)

소나타 생성

In [ ]:
class Sonata:
  def __init__(self, price):  #self는 인스턴스를 생성하는 그 자체
    self.price = price        #인스턴스의 속성
    print("소나타 생성")

kskSonata = Sonata(3000)
print("김선강 소나타 가격",kskSonata.price)

kcsSonata = Sonata(3500)
print("김철수 소나타 가격",kcsSonata.price)

소나타 생성
김선강 소나타 가격 3000
소나타 생성
김철수 소나타 가격 3500

In [ ]:
class Sonata:
  def __init__(self, price, color):  #self는 인스턴스를 생성하는 그 자체
    print("소나타 생성")
    self.price = price        #인스턴스의 속성
    self.color = color

  def driving(self):
    print("주행을 시작합니다.")

oshSonata = Sonata(2500, "black")
print(oshSonata.price)
print(oshSonata.color)

oshSonata.driving() #우리가 사용할 때

#Sonata.driving(oshSonata) 파이썬 내부에 돌아갈때

소나타 생성
2500
black
주행을 시작합니다.

In [ ]:
#객체 : 사물, 사람 등 모든 것
#클래스 : 객체를 찍어내는 설계도
#인스턴스 ; 클래스로부터 찍어낸 객체

In [ ]:
#카운터 클래스 예제
class Counter:
  def __init__(self):
    self.count = 0

  def increment(self):
    self.count += 1

a = Counter()

print(a.count)

a.increment()

print(a.count)

a.increment()

print(a.count)

0
1
2

In [ ]:
#카운터 예제 2
class Counter:
  def __init__(self, initValue=0):
    self.count = initValue
  def increment(self):
    self.count += 1

a = Counter(100)    #카운터의 초기값은 100이 된다.
b = Counter()       #카운터의 초기값음 0이 된다.

In [ ]:
#클래스 예제
#원 클래스
import math
#Circle 클래스를 먼저 정의한다
class Circle:
  def __init__(self, radius = 0) :
    self.radius = radius
  
  def getArea(self) :
    return math.pi * self.radius * self.radius

  def getPerimeter(self) :
    return 2 * math.pi * self.radius

# Circle 객체를 생성한다.
c = Circle(10)    # 반지름 radius가 10인 원 객체 생성
print("원의 면적 : ", c.getArea())
print("원의 둘레 : ", c.getPerimeter())

원의 면적 :  314.1592653589793
원의 둘레 :  62.83185307179586

In [ ]:
#자동차 클래스 예제
class Car : 
  def __init__(self,speed,color,model):
    print("자동차 객체를 생성하였습니다.")
    self.speed = speed
    self.color = color
    self.model = model

newCar = Car(0,'blue','E-class')

자동차 객체를 생성하였습니다.

In [ ]:
print("자동차의 속도는", newCar.speed)
print("자동차의 색상은", newCar.color)
print("자동차의 모델은", newCar.model)

자동차의 속도는 0
자동차의 색상은 blue
자동차의 모델은 E-class

In [ ]:
#정보은닉 실습
class Car : 
  def __init__(self,speed,color,model):
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed
    self.color = color
    self.model = model

newCar = Car(0,'blue','E-class')

print(newCar.__speed)   #정보가 은닉되어 불러오지 못함.

자동차 객체를 생성하였습니다.

AttributeError: ignored

In [ ]:
#접근자와 설정자 [Getter, Setter]
class Car : 
  def __init__(self,speed,color,model):
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed
    self.color = color
    self.model = model

  def getSpeed(self):
    return self.__speed

  def setSpeed(self,speed):
    self.__speed = speed

newCar = Car(0,'blue','E-class')
print(newCar.getSpeed())

newCar.setSpeed(10)
print(newCar.getSpeed())

자동차 객체를 생성하였습니다.
0
10

In [ ]:
class Counter :
  value = 0      #클래스 변수 value 는 모든 객체가 공유한다.
  def __init__(self):
    Counter.value += 1
    self.count = Counter.value

a = Counter()
print(a.count)

b = Counter()
print(b.count)

1
2

In [ ]:
#특수 메소드
#__특수메소드__
class Counter :
  def __init__(self,value) :
    self.count = value
  def __eq__(self, other) :
    print("eq메소드 실행!")
    return self.count == other.count
  def __str__(self) :
    return "객체출력!"

a = Counter(10)
print(a.count)

b = Counter(10)
print(b.count)

print("============================")
print(a==b)
print(a)

10
10
============================
eq메소드 실행!
True
객체출력!

In [ ]:
class Vector2D :
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __add__(self, other):
    #print(self.x, other.x)
    #print(self.y, other.y)
    #print(self.x + other.x, self.y + other.y)
    return Vector2D(self.x + other.x, self.y + other.y)

  def __str__(self) :
    return f'({self.x},{self.y})'

u = Vector2D(0,1)
v = Vector2D(1,0)

result = u + v
print(result)
print(result.x)
print(result.y)

(1,1)
1
1

In [ ]:
#상속 예시

#부모 클래스
class Car :     
  def __init__(self, Car_price, color, km) :
    self.Car_price = Car_price
    self.color = color 
    self.km = km

#자식클래스
class Avante(Car) :
  def __init__(self, Car_price, color, km, year) :
    super().__init__(Car_price, color,km)   #Car 의 __init__ 에 대입
    self.year = year

oshAvante = Avante(3000, "red", "12km", '2023')

oshAvante.Car_price

3000