In [ ]:
#함수
def get_area(radius):   #radisu는 파라미터
  area = 3.14*radius**2
  return area

result = get_area(3)    #전달하는 3은 argument 인수
print("반지름이 3인 원의 면적 =", result)

반지름이 3인 원의 면적 = 28.26

In [ ]:
def a():
  return 2,3

x = a()
print(x)
print(type(x))

(2, 3)
<class 'tuple'>

In [ ]:
def b():
  pass    #헤더만 결정하고 몸체는 나중에 작성할때 사용

In [ ]:
#가변인수
def varfunc(*args) :
  print(args)

print("하나의 값으로 호출")
varfunc(10)

print("여러 개의 값으로 호출")
varfunc(10,20,30)

하나의 값으로 호출
(10,)
여러 개의 값으로 호출
(10, 20, 30)

In [ ]:
#딕셔너리
a = {"하나":1, "둘":2, "셋":3}
print(a)
print(type(a))
print(a["하나"])
print(a.values())
print(a.keys())

{'하나': 1, '둘': 2, '셋': 3}
<class 'dict'>
1
dict_values([1, 2, 3])
dict_keys(['하나', '둘', '셋'])

In [ ]:
#순환호출 예제
#팩토리얼 계산 프로그램
def factorial(n):
  if n == 1 :
    return(1)
  else :
    return n * factorial(n-1)

n = eval(input("정수를 입력하시오 : "))
print(n, "!= ", factorial(n))

정수를 입력하시오 : 5
5 !=  120

In [ ]:
#함수 안에서 전역 변수 변경하기
gx = 100
g = 200

def myfunc():
  global gx     #전역 변수 gx를 사용한다.
  gx = g
  print(gx)

myfunc()
print(gx)

200
200

In [ ]:
#zip 함수
a = ['a','b','c']
b = [1,2,3]

list(zip(a,b))

#zip 함수 예 2
questions = ['name','quest','color']
answers = ['Kim','파이썬','blue']

for q, a in zip(questions, answers) :
  print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue

In [ ]:
#append, extend 차이
a = ['a','b','c']
b = [1,2,3]

a.append(b)
print(a)

['a', 'b', 'c', [1, 2, 3]]

In [ ]:
a = ['a','b','c']
b = [1,2,3]

a.extend(b)
print(a)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
a = ['a','b','c']
b = [1,2,3]

print(a+b)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#예제 콘테스트 평가
#심판들의 점수가 리스트에 저장되어 있다고 가정하고, 최소값과 최대값을 리스트에서 제거하는 프로그램을 작성
scores = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
print("제거 전", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거 후", scores)

제거 전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거 후 [9.0, 8.3, 7.1, 9.0]

In [ ]:
range(10)

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#리스트 함축 (list comprehension)
squares = []

for x in range(10):
  squares.append(x*x)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#동일하게 작동하지만 함축해서 작성
squares = [x*x for x in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
a = [x*y for x in range(10) for y in range(10)]
print(a)
#========================================
a = []
for x in range(10):
   for y in range(10):
     a.append(x*y)
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a = [x*y for x in range(10) if x%2 == 0]
print(a)
#========================================
a = []
for x in range(10):
   if x%2 == 0:
     a.append(x*y)
print(a)

[0, 18, 36, 54, 72]
[0, 18, 36, 54, 72]

In [ ]:
#다양한 리스트 함축
prices = [135,-545,922,356,-992,217]
mprices = []

for i in prices :
  if i>0 :
    mprices.append(i)
  else :
    mprices.append(0)
print(mprices)

[135, 0, 922, 356, 0, 217]

In [ ]:
prices = [135,-545,922,356,-992,217]
mprices = [i if i> 0 else 0 for i in prices]
print(mprices)

[135, 0, 922, 356, 0, 217]

In [ ]:
#다양한 리스트 함축
numbers = []
for x in ['a','b','c'] : 
  for y in ['x','y','z'] :
    numbers.append(x+y)
print(numbers)

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [ ]:
numbers = [x+y for x in ['a','b','c'] for y in ['x','y','z']]
print(numbers)

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [ ]:
#다양한 리스트 함축
words = ['All','good','things','must','come','to','an','end.']
letters = [w[0] for w in words]
print(letters)

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']