01

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

```

In [ ]:
#사과
#귤
#수박
#과일을 하나씩 변수에 넣어서 출력한다.

02

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

In [ ]:
#####
#####
#####
#과일의 길이만큼 3번 반복하여 #####이 3번 출력된다.

03

다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

In [ ]:
slist = ["A", "B", "C"]
for i in slist :
  print(i)
#"A", "B", "C"를 담은 slist를 선언하고, 반복문을 이용하여 출력한다.

A
B
C

04

for문을 풀어서 동일한 동작을하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [ ]:
slist = ["A", "B", "C"]
for i in slist :
  print("출력:", i)
#"A", "B", "C"를 담은 slist를 선언하고, 반복문을 이용하여 출력한다.

출력: A
출력: B
출력: C

05

for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

In [ ]:
slist = ["A", "B", "C"]
for i in slist :
  b = i.lower()
  print("출력:", b)
#"A", "B", "C"를 담은 slist를 선언하고, 반복문을 이용하여 출력한다.
# b는 i에 담긴 문자를 소문자로 변경하여 저장한다.

출력: a
출력: b
출력: c

06

다음 코드를 for문으로 작성하라.

```
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [ ]:
#단순히 출력할 변수를 리스트에 담아 출력하는 방법 
for i in [10,20,30] : 
  print("변수 =", i)

#리스트를 선언하고, 선언된 리스트를 이용하는 방법
slist = [10,20,30]
for i in slist :
  print("변수 =", i)

#range를 이용하는 방법
for i in range(10,31,10) :  #i가 10부터 31미만에서 10씩 증가함
  print("변수 =", i)

변수 = 10
변수 = 20
변수 = 30
변수 = 10
변수 = 20
변수 = 30
변수 = 10
변수 = 20
변수 = 30

07

다음 코드를 for문으로 작성하라.

```
print(10)
print(20)
print(30)
```

In [ ]:
#단순히 출력할 변수를 리스트에 담아 출력하는 방법 
for i in [10,20,30] : 
  print(f"print({i})")

#리스트를 선언하고, 선언된 리스트를 이용하는 방법
slist = [10,20,30]
for i in slist :
  print(f"print({i})")

#range를 이용하는 방법
for i in range(10,31,10) :  #i가 10부터 31미만에서 10씩 증가함
  print(f"print({i})")

print(10)
print(20)
print(30)

08

다음 코드를 for문으로 작성하라.

```
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```

In [ ]:
for i in range(10,31,10) :  #i가 10부터 31미만에서 10씩 증가함
  print(i)
  print("------")
#숫자를 출력한 뒤 ----- 를 출력해야 하므로 반복문 안에 print("-----")를 넣어준다.

10
------
20
------
30
------

09

다음 코드를 for문으로 작성하라.

```
print("++++")
print(10)
print(20)
print(30)
```

In [ ]:
print("++++")
for i in range(10,31,10) :
  print(i)
#++++를 먼저 출력한 뒤, 반복문을 이용하여 나머지를 출력한다.

++++
10
20
30

10

다음 코드를 for문으로 작성하라.

```
print("-------")
print("-------")
print("-------")
print("-------")
```

In [ ]:
for i in range(4) :   #4번 반복하기 위해 range의 크기 설정
  print("-------")

-------
-------
-------
-------

11

다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

```
리스트 = [100, 200, 300]
```
```
110
210
310
```

In [ ]:
for i in range(100,301,100) : #100부터 301미만에서 100씩 증가
  print(i + 10)               #입력되는 i에 부가세 10씩 더해서 출력

#slist 리스트를 설정하고, 하나씩 넣어서 출력
slist = [100, 200, 300]
for i in slist :
  print(i + 10)

110
210
310
110
210
310

12

for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]
```
```
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [ ]:
#리스트
slist = ["김밥", "라면", "튀김"]
#리스트의 값을 하나씩 넣는 반복문
for i in slist :
  print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

13

리스트에 주식 종목이름이 저장돼 있다.

```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```

저장된 문자열의 길이를 다음과 같이 출력하라.
```
6
4
4
```

In [ ]:
slist = ["SK하이닉스", "삼성전자", "LG전자"]
#문자열의 길이를 구하는 함수 len() 활용
for i in slist :   
  print(len(i))

6
4
4

14

리스트에는 동물이름이 문자열로 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```

동물 이름과 글자수를 다음과 같이 출력하라.

```
dog 3
cat 3
parrot 6
```

In [ ]:
slist = ['dog', 'cat', 'parrot']
#문자열의 길이를 구하는 함수 len() 활용
for i in slist :  
  print(i,len(i))

dog 3
cat 3
parrot 6

15

리스트에 동물 이름 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
d
c
p
```

In [ ]:
slist = ['dog', 'cat', 'parrot']
#반복문 작성
for i in slist :
  print(i[0])     #문자열도 리스트이기 때문에 첫 글자는 [0]의 인덱스에 위치한다.

d
c
p

16

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```

for문을 사용해서 다음과 같이 출력하라.
```
3 x 1
3 x 2
3 x 3
```

In [ ]:
slist = [1,2,3]

for i in slist : 
  print("3 x",i)

3 x 1
3 x 2
3 x 3

17

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [ ]:
slist = [1,2,3]

for i in slist : 
  print("3 x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

18

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
나
다
라
```

In [ ]:
slist = ["가", "나", "다", "라"]

for i in range(1, len(slist)) :   #반복문의 범위를 1부터 리스트의 길이 4 전까지
  print(slist[i])                 #i에 입력되는 값은 1,2,3 이므로 출력 값은 나, 다, 라가 된다.

나
다
라

19

리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
가
다
```

In [ ]:
slist = ["가", "나", "다", "라"]

for i in range(0, len(slist),2) :
  print(slist[i])

가
다

20

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
라
다
나
가
```

In [ ]:
slist = ["가", "나", "다", "라"]

for i in range(len(slist)-1,-1,-1) :
  print(slist[i])

라
다
나
가

21

리스트에는 네 개의 정수가 저장돼 있다.

```
리스트 = [3, -20, -3, 44]
```

for문을 사용해서 리스트의 음수를 출력하라.
```
-20
-3
```

In [ ]:
slist = [3, -20, -3, 44]

for i in slist :  # 반복문 작성
  if i < 0 :      # i가 0보다 작을 때만 실행
    print(i)

-20
-3

22

for문을 사용해서 3의 배수만을 출력하라.

```
리스트 = [3, 100, 23, 44]
```
```
3
```

In [ ]:
slist = [3, 100, 23, 44]

for i in slist :
  if i%3 == 0 :
    print(i)

3

23

리스트에서 20 보다 작은 3의 배수를 출력하라
```
리스트 = [13, 21, 12, 14, 30, 18]
```
```
12
18
```

In [ ]:
slist = [13, 21, 12, 14, 30, 18]

for i in slist :
  if i < 20 and i%3 == 0 :
    print(i)

12
18

24

리스트에서 세 글자 이상의 문자를 화면에 출력하라

```
리스트 = ["I", "study", "python", "language", "!"]
```
```
study
python
language
```

In [ ]:
slist = ["I", "study", "python", "language", "!"]

for i in slist :      #slist의 값을 하나씩 i에 넣는 반복문
  if len(i)>2 :       #문자열의 길이가 2보다 큰 값일때만 print(i)가 실행되는 조건문 작성
    print(i)

study
python
language

25

리스트에서 대문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
A
D
```
(참고) isupper() 메서드는 대문자 여부를 판별합니다.
```
>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False
```

In [ ]:
slist = ["A", "b", "c", "D"]

for i in slist :
  if i.isupper() :
    print(i)

A
D

26

리스트에서 소문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
b
c
```

In [ ]:
slist = ["A", "b", "c", "D"]

for i in slist :
  if i.islower() :
    print(i)

b
c

27

이름의 첫 글자를 대문자로 변경해서 출력하라.

```
리스트 = ['dog', 'cat', 'parrot']
```
```
Dog
Cat
Parrot
```
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.
```
>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC
```

In [ ]:
slist = ['dog', 'cat', 'parrot']

for i in slist :
  print(i.capitalize())         #첫글자만 대문자로 바꿔주는 .capitalize() 함수 이용 방법
  print(i[0].upper()+i[1:])     #첫글자만 upper()함수로 바꿔준 후, 이후 글자를 +로 연결해서 출력하는 방법

Dog
Dog
Cat
Cat
Parrot
Parrot

28

파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

```
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
```
```
hello
ex01
intro
```

In [ ]:
slist = ['hello.py', 'ex01.py', 'intro.hwp']

for i in slist :
  j = i.split(".")
  print(j[0])

  print(i.split(".")[0]) #바로 인덱싱도 가능하다.

hello
hello
ex01
ex01
intro
intro

29
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
define.h
```

In [ ]:
slist = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in slist : 
  j = i.split(".")
  if j[1] == "h" :
    print(i)

intra.h
define.h

30
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
intra.c
define.h
```

In [ ]:
slist = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in slist : 
  j = i.split(".")                    #입력받은 값을 . 를 기준으로 split하여 j에 저장
  if j[1] == "h" or j[1] == 'c' :     #j[0]에는 . 앞의 글자, j[1]에는 . 뒤의 글자들이 저장 됨
    print(i)                          #j[1]의 글자가 h나 c 일때 i를 출력

intra.h
intra.c
define.h

31

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for i in range(0,100,1) :
  print(i)

for i in range(100) :
  print(i)

32

월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

```
2002
2006
2010
...
2042
2046
2050
```
참고) range의 세번 째 파라미터는 증감폭을 결정합니다.
```
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
```

In [ ]:
for i in range(2002, 2051, 4) :
  print(i)

33

1부터 30까지의 숫자 중 3의 배수를 출력하라.

```
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [ ]:
for i in range(1,31) :    #1~30까지 반복하는 반복문
  if i%3 == 0 :           #i를 3으로 나눈 나머지가 0일때 -> 3의 배수 일때
    print(i)

3
6
9
12
15
18
21
24
27
30

34

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
for i in range(99,-1,-1) :
  print(i)

35

for문을 사용해서 아래와 같이 출력하라.

```
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [ ]:
for i in range(0,10) :
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

36

구구단 3단을 출력하라.
```
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [ ]:
for i in range(1,10) :          #1~9까지 반복하는 반복문 작성
  print('3x'+str(i),"=",3*i)    #문자열인 3x와 붙여쓰도록 i를 str타입으로 변환하여 +로 연결하여 작성

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

37

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

```
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [ ]:
#스탭을 이용하여 출력
for i in range(1,10,2) :
  print('3x'+str(i),"=",3*i)

#조건문을 추가하여 출력
for i in range(1,10) :
  if i%2 == 1 :
    print('3x'+str(i),"=",3*i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

38

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합 : 55
```

In [ ]:
sum = 0
for i in range(1,11) :
  sum += i
print("합 :",sum)

합 : 55

39

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합: 25
```

In [ ]:
sum = 0
for i in range(1,11) :    #1~10까지 반복하는 반복문
  if i%2 == 1 :           #i를 2로 나눈 나머지가 1일때 -> 홀수 일때
    sum += i              #sum = sum + i >>> sum에 i 값을 계속 더해줌
print("합 :",sum)

합 : 25

40

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
num = 1 
for i in range(1,11) :
  num *= i
print(num)

3628800

41

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
  print(price_list[i])

32100
32150
32000
32500

42

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]
#반복문
for i in range(len(price_list)) : #리스트의 크기 만큼 반복하는 반복문 : 0~3 까지
  print(i, price_list[i])

#인덱스와 값으로 저장하는 enumerate 함수를 이용한 방법
for idx, value in enumerate(price_list) :
  print(idx, value)

0 32100
1 32150
2 32000
3 32500
0 32100
1 32150
2 32000
3 32500

43

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
  print(4-i-1, price_list[i])

3 32100
2 32150
1 32000
0 32500

44

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
```

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1,len(price_list)) :
  print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

45

my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라
```

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1) :    #리스트의 길이는 4, 필요한 반복 회수는 3 이므로 리스트 길이-1 만큼 반복 => 0~3
  print(my_list[i],my_list[i+1])    #바로 다음 값이 출력되도록 인덱스 값을 작성

가 나
나 다
다 라

46

리스트를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
```

In [ ]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2) :
  print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

47

반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
라 다
다 나
나 가
```

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1,0,-1) :
  print(my_list[i],my_list[i-1])

라 다
다 나
나 가

48

리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

```
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
100
200
400
```

In [ ]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1) :    #리스트의 길이는 4, 필요한 반복 회수는 3 이므로 리스트 길이-1 만큼 반복 => 0~3
  print(my_list[i+1] - my_list[i])  #차분 값을 출력하기 위해 다음 인덱스 - 현재 인덱스로 작성

100
200
400

49

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2) : 
  print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

50

리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)) :
  volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]