In [ ]:
3.14 * 10 * 10

314.0

In [ ]:
3.14 * 10**2

314.0

In [ ]:
import math
math.sin(40)

0.7451131604793488

In [ ]:
print('안녕하세요')

안녕하세요

In [ ]:
print('결과값은',10,'입니다.')

결과값은 10 입니다.

In [ ]:
'나의'+'고양이'

'나의고양이'

In [ ]:
'Hello'*10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [ ]:
print("2+3 =", 2+3)

2+3 = 5

In [ ]:
x = 10000
y = 20000

In [ ]:
print(x)

10000

In [ ]:
radius = 10
area = 3.14 * radius * radius
print("반지름",radius,"인 원의 면적=",area)

반지름 10 인 원의 면적= 314.0

In [ ]:
print(type(12.30))

<class 'float'>

In [ ]:
print(type("hello"))

<class 'str'>

In [ ]:
x = 1000
print("초기값 x=", x)
x += 2
print("x += 2 후의 x =", x)
x -= 2
print("x -= 2 후의 x =", x)

초기값 x= 1000
x += 2 후의 x = 1002
x -= 2 후의 x = 1000

In [ ]:
x = 3.14

y = str(x)

print(y)
print(type(y))

3.14
<class 'str'>

In [ ]:
price = 12345
tax = price * 0.075
print(tax)
tax = round(tax, 2)
print(tax)

925.875
925.88

In [ ]:
msg = '철수가"안녕"이라고 말했습니다.'
print(msg)
msg2 = "철수가'안녕'이라고 말했습니다."
print(msg2)

철수가"안녕"이라고 말했습니다.
철수가'안녕'이라고 말했습니다.

In [ ]:
a = """안녕하세요
김선강입니다."""
b = '''작은 따옴표도
가능합니다
주석으로도 사용할 수 있습니다.'''
#은 한줄 주석
'''은 여러줄 주석으로 사용'''
print(a)
print(b)

안녕하세요
김선강입니다.
작은 따옴표도
가능합니다
주석으로도 사용할 수 있습니다.

In [ ]:
print("엔터치고 싶다 \n 이거다")
print("she\'s gone")

엔터치고 싶다
 이거다
she's gone

In [ ]:
s = "Hello World"
print(s[0])
print(s[0:2]) #0번부터 2번 전까지
print(s[6])
print(s[6:8]) #6번부터 8번 전까지
print(s[-1])

H
He
W
Wo
d

In [ ]:
name = "Harry Pater"
lower_name = name.lower() #전체 문자를 소문자로
print(lower_name)
new_name = name.replace("Pater","Poter") #문자열 일부 변경
print(new_name)

harry pater
Harry Poter

In [ ]:
name = input("이름을 입력하시오: ")
print(name)

이름을 입력하시오:김선강
김선강

In [ ]:
s1 = int(input("첫 번째 정수를 입력하시오 : ")) #input으로 입력하면서 int로 타입 변환
s2 = int(input("두 번째 정수를 입력하시오 : "))
print(s1+s2)

첫 번째 정수를 입력하시오 : 2
두 번째 정수를 입력하시오 : 3
5

In [ ]:
x = 100
y = 200
print(f"{x}와 {y}의 합 = {x+y}")

100와 200의 합 = 300

In [ ]:
py = 7.1234

print("테스트 출력 %10.2f" % py)

테스트 출력       7.12

In [ ]:
#문자열 슬라이싱
a = "안녕하세요"

In [ ]:
a[0]

'안'

In [ ]:
a[0:2]

'안녕'

In [ ]:
a[0:5:2]
#a의 0~5번째 2칸씩 띄어서 추출

'안하요'

In [ ]:
a[::2]

'안하요'

In [ ]:
a[::-1]
#거꾸로 출력

'요세하녕안'

In [ ]:
a[::-2]

'요하안'

In [ ]:
#사용자로부터 상품의 가격을 입력
price = int(input("상품의 가격: "))

#배송비 결정
if price > 20000 :
    shipping_cost = 0
else :
    shipping_cost = 3000

#배송비 출력
print("배송비 = ", shipping_cost)

상품의 가격: 20000
배송비 =  3000

In [ ]:
price = 30000
exp = price > 20000

print(exp)

if exp : 
    shipping_cost = 0
else :
    shipping_cost = 3000
print(shipping_cost)

True
0

In [ ]:
import math
math.sqrt(9)

3.0

In [ ]:
from math import sqrt
sqrt(9)

3.0

In [ ]:
from math import *
sqrt(9)

3.0

In [ ]:
#조건 연산자 예제
x = int(input("첫 번째 수 = "))
y = int(input("두 번째 수 = "))
max_value = (x if x>y else y)
min_value = (y if x>y else x)

print("큰 수=",max_value,"작은 수=",min_value)

첫 번째 수 = 20
두 번째 수 = 30
큰 수= 30 작은 수= 20

In [ ]:
#산술 퀴즈 프로그램
num = int(input("정수를 입력하시오 : "))

if num % 2 == 0 :
    print("짝수입니다.")
else :
    print("홀수입니다.")

정수를 입력하시오 : 10
짝수입니다.

In [ ]:
price = int(input("가격을 입력하시오: "))
card = input("카드 종류를 입력하시오: ")
if price > 20000 and card == "python" :
    print("배송료가 없습니다.")
else :
    print("배송료는 3000원 입니다.")

가격을 입력하시오: 30000
카드 종류를 입력하시오: python
배송료가 없습니다.

In [ ]:
#연속 if문, elif
num = int(input("정수를 입력하시오 : "))

if num > 0 :
    print("양수입니다.")
elif num == 0 :
    print("0입니다.")
else : 
    print("음수입니다.")

정수를 입력하시오 : 0
0입니다.

In [ ]:
#지진 규모 체크 예제

num = float(input("리히터 규모를 입력하시오 : "))

if num >= 8.0 :
    print("대부분의 구조물이 파괴됩니다.")
elif num >= 7.0 :
    print("지표면에 균열이 발생합니다.")
elif num >= 4.0 :
    print("빈약한 건물에 큰 피해가 있습니다")
elif num >= 2.0 :
    print("물건들이 흔들리거나 떨어집니다.")
else :
    print("지진계에 의해서만 탐지 가능합니다.")

리히터 규모를 입력하시오 : 4.5
빈약한 건물에 큰 피해가 있습니다

In [ ]:
#반복문
for i in [9,8,7,6,5] :
    print("i=", i)

i= 9
i= 8
i= 7
i= 6
i= 5

In [ ]:
for i in range(5) :
    print(i)
print('-----------')
for i in range(1,6) :
    print(i)
print('-----------')
for i in range(1,6,2) :
    print(i)
print('-----------')
for i in range(5,0,-1) : #for문의 endPoint는 포함되지 않는다.
    print(i)

0
1
2
3
4
-----------
1
2
3
4
5
-----------
1
3
5
-----------
5
4
3
2
1

In [ ]:
for i in range(1,6,1) :
  print(i, end=' ')

1 2 3 4 5

In [ ]:
TARGET = 2000      #목표 금액
money = 1000       #초기 자금
year = 0           #연도
rate = 0.07        #이자율

#현재 금액이 목표 금액보다 작으면 반복
while money < TARGET :
    money = money + money * rate
    year = year + 1
print(year,"년")

11 년

In [ ]:
#while문을 활용한 구구단 출력
num = int(input("원하는 단을 입력해주세요 : "))
i = 1
while i < 10 :
  print(num,"x",i,"=",num*i)
  i = i + 1

원하는 단을 입력해주세요 : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
for i in range(5) :
  for j in range(5) :
    print('i',i,'j',j)

i 0 j 0
i 0 j 1
i 0 j 2
i 0 j 3
i 0 j 4
i 1 j 0
i 1 j 1
i 1 j 2
i 1 j 3
i 1 j 4
i 2 j 0
i 2 j 1
i 2 j 2
i 2 j 3
i 2 j 4
i 3 j 0
i 3 j 1
i 3 j 2
i 3 j 3
i 3 j 4
i 4 j 0
i 4 j 1
i 4 j 2
i 4 j 3
i 4 j 4

In [ ]:
for y in range(5) :
  for x in range(10):
    print("*", end="")
  print("")

**********
**********
**********
**********
**********

In [ ]:
adj = ["small", "medium", "large"]
nouns = ["apple", "banana", "grape"]
for x in adj :
  for y in nouns :
    print(x,y)

small apple
small banana
small grape
medium apple
medium banana
medium grape
large apple
large banana
large grape

In [ ]:
#while break 예제
while True :
  light = input("신호등 색상을 입력하시오 : ")
  if light == 'red':
    break;
print('정지!')

신호등 색상을 입력하시오 : green
신호등 색상을 입력하시오 : yellow
신호등 색상을 입력하시오 : red
정지!

In [ ]:
for i in range(1,11) :
    if i%3 == 0 :           #3의 배수이면
        continue            #다음 반복을 시작한다.
    print(i, end=" ")       #줄바꿈을 하지 않고 스페이스만 출력한다.

1 2 4 5 7 8 10