01

my_variable 이름의 비어있는 튜플을 만들라.

In [ ]:
my_variable = tuple()

print(type(my_variable))

<class 'tuple'>

02

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

![image.png]()

In [ ]:
movie_rank = ("닥터 스트레인지","스플릿","럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

03

숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
# 튜플 생성시 소괄호로 생성, 안써도 무관하지만 1개의 값을 가진 튜플을 생성시에는 반드시 ,를 찍어줘야한다.
a = (1,)
# a = 1, 도 가능
print(a)
print(type(a))

(1,)
<class 'tuple'>

04

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
```
>> t = (1, 2, 3)
>> t[0] = 'a'
```
```
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
```

In [ ]:
#튜플은 수정되지 않는다

05

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
```
t = 1, 2, 3, 4
```

In [ ]:
#튜플
t = 1, 2, 3, 4
type(t)

tuple

06

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 값을 갖도록 수정 하라.

```
t = ('a', 'b', 'c')
```

In [ ]:
t = ('a', 'b', 'c') #튜플의 값은 변경이 불가능하다
value = 'A',        # A의 값을 가진 변수
value + t[1:]       # 변수와 튜플의 인덱스 1 이후의 값을 연결 => ('A', 'b', 'c') 가 된다.

('A', 'b', 'c')

07

다음 튜플을 리스트로 변환하라.

```
interest = ('삼성전자', 'LG전자', 'SK Hynix')
```

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

08

다음 리스트를 튜플로 변경하라.

```
interest = ['삼성전자', 'LG전자', 'SK Hynix']
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

09 튜플 언팩킹

다음 코드의 실행 결과를 예상하라.
```
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
```

In [ ]:
#튜플 언패킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp  # 튜플 temp의 값과 a,b,c가 순서대로 연결된다.
print(a, b, c)

apple banana cake

10 range 함수 (어려움)

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

```
(2, 4, 6, 8 ... 98)
```

In [ ]:
tuple(range(2,99,2))

11 별 표현식 (매우어려움)

기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
```
>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]
```
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)
print(a)
print(b)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
7.8
9.4

12

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [ ]:
#star expression(별표, asterisk) => 가변인자 = 길이가 변할수 있는 argument
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores # scores의 값이 a, b에 하나씩 바인딩, 나머지는 *valid_score에 바인딩
print(valid_score)
print(a)
print(b)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
8.8
8.9

13

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)
print(a)
print(b)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
8.8
9.4

14 비어있는 딕셔너리

temp 이름의 비어있는 딕셔너리를 만들라.

In [ ]:
#temp = dict()
temp = {}
print(type(temp))

<class 'dict'>

15

다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

![image.png]()

In [ ]:
# 딕셔너리 생성
# 변수 = {키:값}
ice_cream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

16

15 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

![image.png]()

In [ ]:
ice_cream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
ice_cream["죠스바"] = 1200
ice_cream["월드콘"] = 1500
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

17

다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```
```
실행 예:
메로나 가격: 1000
```

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격:",ice["메로나"])

메로나 가격: 1000

18

다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300 #딕셔너리['키'] = 값 으로 해당 키의 값을 수정할 수 있다.
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

19

다음 딕셔너리에서 메로나를 삭제하라.

```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice.pop("메로나")
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

20

다음 코드에서 에러가 발생한 원인을 설명하라.

```
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
```

In [ ]:
#icecream의 키 값중 '누가바'에 해당하는 키 값이 없어서 에러가 발생

21 딕셔너리 생성

아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

![image.png]()

In [ ]:
# 딕셔너리 생성시, 값은 리스트로 생성이 가능하다.
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

22 딕셔너리 인덱싱

inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
```
실행 예시:
300 원
```

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0],"원")

300 원

23 딕셔너리 인덱싱

inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
```
실행 예시:
20 개
```

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1],"개")

20 개

24 딕셔너리 추가

inventory 딕셔너리에 아래 데이터를 추가하라.

```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
![image.png]()

```
실행 예시:
>> print(inventory)
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}
```

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7] # 딕셔너리['키'] = 값 으로 수정도 가능, 키 : 값을 추가 할 수 있다.
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

25 딕셔너리 keys() 메서드

다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

26 딕셔너리 values() 메서드

다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

27 딕셔너리 values() 메서드

icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```
```
출력 예시:
6700
```

In [ ]:
# 딕셔너리 values() => 딕셔너리에 저장된 모든 value 값을 출력
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values())) # sum()을 이용하여 icecream의 모든 value 값의 합을 구한다.

6700

28 딕셔너리 update 메서드

아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
```
```
실행 예시:
>> print(icecream)
{'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}
```

In [ ]:
#딕셔너리 더하기
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

29 zip과 dict

아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

```
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
```
```
실행 예시:
>> print(result)
{'apple': 300, 'pear': 250, 'peach': 400}
```

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

30 zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

```
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
```
```
실행 예시:
>> print(close_table)
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}
```

In [ ]:
#dict() => 딕셔너리로 타입 변경
#zip() => 동일 개수로 이루어진 자료형을 묶어서 튜플로 반환
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price)) # date와 close_price를 묶어 튜플 형태로 변환 => dict()로 타입 변경
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}