01 클래스, 객체, 인스턴스

클래스, 객체, 인스턴스에 대해 설명해봅시다.

In [ ]:
#객체 : 사물, 사람 등 모든 것
#클래스 : 객체를 찍어내는 설계도
#인스턴스 ; 클래스로부터 찍어낸 객체

02 클래스 정의

비어있는 사람 (Human) 클래스를 "정의" 해보세요.

In [ ]:
class Human :
    pass

03 인스턴스 생성

사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.

In [ ]:
class Human :       # Human 클래스 생성
    pass            # 생성자 정의하지 않고 pass

areum = Human()     # areum 변수로 바인딩

print(areum)

<__main__.Human object at 0x7f08fdf1cc70>

04 클래스 생성자-1

사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

```
>>> areum = Human()
응애응애
```

In [ ]:
class Human :
  def __init__(self) :
    print("응애응애")

areum = Human()

응애응애

05 클래스 생성자-2

사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

```
>>> areum = Human("아름", 25, "여자")
```

In [ ]:
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("아름", 25, "여자")

06 인스턴스 속성에 접근

05에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

```
이름: 조아름, 나이: 25, 성별: 여자
```
인스턴스 변수에 접근하여 값을 가져오는 예
```
>>> areum.age
25
```

In [ ]:
# Human 클래스 정의
class Human :
  def __init__(self,name,age,sex) : # 객체 초기화 메소드 init => 이름, 나이, 성별을 받음
    self.name = name                # 생성되는 객체의 이름, 나이, 성별을 저장
    self.age = age
    self.sex = sex

areum = Human("조아름", 25, "여자")
# => __init__(areum, '조아름', 25, '여자') => areum.name = '조아름', areum.age = 25, areum.sex = '여자'
print(areum.name)
print(areum.age)
print(areum.sex)

조아름
25
여자

07 클래스 메소드 - 1

사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

```
>>> areum.who()
이름: 조아름, 나이: 25, 성별: 여자
```

In [ ]:
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print(f'이름: {self.name}, 나이: {self.age}, 성별 : {self.sex}')

areum = Human("조아름", 25, "여자")
areum.who()

이름: 조아름, 나이: 25, 성별 : 여자

08 클래스 메소드 - 2

사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

```
>>> areum = Human("모름", 0, "모름")
>>> areum.setInfo("아름", 25, "여자")
```

In [ ]:
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print(f'이름: {self.name}, 나이: {self.age}, 성별 : {self.sex}')

  def setInfo(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름, 나이: 0, 성별 : 모름
이름: 아름, 나이: 25, 성별 : 여자

09 클래스 소멸자

사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

```
>>> areum = Human("아름", 25, "여자")
>>> del areum
나의 죽음을 알리지 말라
```

In [ ]:
# Human 클래스 정의
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print(f'이름: {self.name}, 나이: {self.age}, 성별 : {self.sex}')

  def setInfo(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def __del__(self) :                 # Human 클래스로 생성된 인스턴스가 삭제될 경우 호출되는 메소드
    print("나의 죽음을 알리지 말라")

areum = Human("아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

10 에러의 원인

아래와 같은 에러가 발생한 원인에 대해 설명하세요.

```
class OMG : 
    def print() :
        print("Oh my god")

>>> >>> myStock = OMG()
>>> myStock.print()
TypeError Traceback (most recent call last)
<ipython-input-233-c85c04535b22> in <module>()
----> myStock.print()

TypeError: print() takes 0 positional arguments but 1 was given
```

※ myStock.print()  =   OMG.instance(myStock)

In [ ]:
#클래스 내부 함수를 정의할때 self를 작성하지 않아 에러가 발생

11 Stock 클래스 생성

주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.

In [ ]:
class Stock :
  pass

12 생성자

Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

```
삼성 = Stock("삼성전자", "005930")
```

In [ ]:
# Stock 클래스 정의
class Stock :
  def __init__(self,name,code) :  # 종목명, 코드를 받아서 인스턴스를 생성
    self.name = name
    self.code = code

삼성 = Stock("삼성전자", "005930") # 삼성.name = '삼성전자', 삼성.code = '005930'

13 메서드

객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.

```
a = Stock(None, None)
a.set_name("삼성전자")
```

In [ ]:
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code
  
  def set_name(self,name) :
    self.name = name

a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

14 메서드

객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.
```
a = Stock(None, None)
a.set_code("005930")
```

In [ ]:
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code
  
  def set_name(self,name) :
    self.name = name

  def set_code(self,code) :
    self.code = code

a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

15 메서드

종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.
```
삼성 = Stock("삼성전자", "005930")
```

In [ ]:
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code
  
  def set_name(self,name) :
    self.name = name

  def set_code(self,code) :
    self.code = code

  def get_name(self) :  # 인스턴스.get_name() => 인스턴스.name을 리턴
    return self.name

  def get_code(self) :  # 인스턴스.get_code() => 인스턴스.code를 리턴
    return self.code

삼성 = Stock("삼성전자", "005930")    # 삼성.name = '삼성전자', 삼성.code = '005930' 저장
print("종목명 :", 삼성.get_name()) # 삼성.get_name() => 삼성.name = '삼성전자' 리턴
print("종목코드 :", 삼성.get_code()) # 삼성.get_code() => 삼성.code = '005930' 리턴

종목명 : 삼성전자
종목코드 : 005930

16 객체의 속성값 업데이트

생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. PER, PBR, 배당수익률은 float 타입입니다.

In [ ]:
class Stock :
  def __init__(self,name,code, per, pbr, dividend) :
    self.name = name
    self.code = code
    self.per = float(per)
    self.pbr = float(pbr)
    self.dividend = float(dividend)

17 객체 생성

16번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.

![image.png]()

In [ ]:
class Stock :
  def __init__(self,name,code, per, pbr, dividend) :
    self.name = name
    self.code = code
    self.per = float(per)
    self.pbr = float(pbr)
    self.dividend = float(dividend)

a = Stock("삼성전자", '005930', 15.79, 1.33, 2.83)

18 객체의 속성 수정

PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

In [ ]:
class Stock :
  def __init__(self,name,code, per, pbr, dividend) :
    self.name = name
    self.code = code
    self.per = float(per)
    self.pbr = float(pbr)
    self.dividend = float(dividend)

  def set_per(self, per) :    # 인스턴스.set_per(값) 실행 => 인스턴스.per = 값 으로 변경되어 저장
    self.per = per

  def set_pbr(self, pbr) :    # 인스턴스.set_pbr(값) 실행 => 인스턴스.pbr = 값 으로 변경되어 저장
    self.pbr = pbr

  def set_dividend(self, dividend) :   # 인스턴스.set_dividend(값) 실행 => 인스턴스.dividend = 값 으로 변경되어 저장
    self.dividend = dividend

19 객체의 속성 수정

17번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

In [ ]:
class Stock :
  def __init__(self,name,code, per, pbr, dividend) :
    self.name = name
    self.code = code
    self.per = float(per)
    self.pbr = float(pbr)
    self.dividend = float(dividend)

  def set_per(self, per) :
    self.per = per

  def set_pbr(self, pbr) :
    self.pbr = pbr

  def set_dividend(self, dividend) :
    self.dividend = dividend

a = Stock("삼성전자", '005930', 15.79, 1.33, 2.83)
print(a.per)
a.set_per(12.75)
print(a.per)

15.79
12.75

20 여러 종목의 객체 생성

아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

![image.png]()

In [ ]:
class Stock :
  def __init__(self,name,code, per, pbr, dividend) :
    self.name = name
    self.code = code
    self.per = float(per)
    self.pbr = float(pbr)
    self.dividend = float(dividend)

  def set_per(self, per) :
    self.per = per

  def set_pbr(self, pbr) :
    self.pbr = pbr

  def set_dividend(self, dividend) :
    self.dividend = dividend

a = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
b = Stock('현대차', '005380', 8.70, 0.35, 4.27)
c = Stock('LG전자', '066570', 317.34, 0.69, 1.37)
alist = [a,b,c]

for i in alist :
  print("종목코드:",i.code,"PER:",i.per)

종목코드: 005930 PER: 15.79
종목코드: 005380 PER: 8.7
종목코드: 066570 PER: 317.34

21 

name, balance, bank를 속성으로 갖는 객체를 만드는 Account 클래스를 만드세요.

In [ ]:
# Account 클래스 정의
class Account :
  def __init__(self,name,balance,bank) :  # 인스턴스 생성시 이름, 잔고, 은행을 받는다
    self.name = name
    self.balance = balance
    self.bank = bank

22 클래스 변수

클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.

In [ ]:
class Account :
  count = 0  # 클래스 변수
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1  # 인스턴스 생성시 클래스변수 count가 1씩 증가

23 클래스 변수 출력

Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

In [ ]:
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1

  def get_account_num(self) :
    return Account.count

kskAccount = Account('ksk', 30000, '카카오')
print(kskAccount.get_account_num())

1

24 입금 메서드

Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

In [ ]:
# Account 클래스 정의
class Account :
  count = 0   # 클래스 변수
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1    # 인스턴스 생성마다 클래스 변수 count가 1씩 증가

  def get_account_num(self) :
    return Account.count

  def deposit(self, money) :  # 인스턴스.deposit(금액)
    if money > 0 :                # 입력된 금액이 0보다 커야 실행
      print("입금되었습니다.")    # 입금되었습니다 출력
      self.balance += money       # 기존 잔고 + 입금액으로 잔고 수정
    else :
      print("입금은 최소 1원 이상 가능합니다.") # 입력된 금액이 1보다 작을 경우 출력되는 메세지

kskAccount = Account('ksk', 30000, '카카오')
kskAccount.deposit(20000)
print(kskAccount.balance)

50000

25 출금 메서드

Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.

In [ ]:
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1
    self.number = Account.count

  def get_account_num(self) :
    return self.number

  def deposit(self, money) :
    if money > 0 :
      self.balance += money
    else :
      print("입금은 최소 1원 이상 가능합니다.")

  def withdraw(self, money) :
    if money < self.balance :
      self.balance -= money
    else : 
      print("잔고보다 많은 금액입니다.")


kskAccount = Account('ksk', 30000, '카카오')
kskAccount.withdraw(50000)

잔고보다 많은 금액입니다.

26 정보 출력 메서드

Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 

```
은행이름: SC은행
예금주: 파이썬
잔고: 10,000원
```

In [ ]:
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1

  def get_account_num(self) :
    return self.number

  def deposit(self, money) :
    if money > 0 :
      self.balance += money
    else :
      print("입금은 최소 1원 이상 가능합니다.")

  def withdraw(self, money) :
    if money < self.balance :
      self.balance -= money
    else : 
      print("잔고보다 많은 금액입니다.")

  def display_info(self) :
    print("은행이름 :", self.bank)
    print("예금주 :", self.name)
    print("잔고:", self.balance)

a = Account('파이썬',10000,'SC은행')
a.display_info()

은행이름 : SC은행
예금주 : 파이썬
잔고: 10000

27 이자 지급하기

입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.

In [ ]:
# Account 클래스 정의
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1
    self.deposit_count = 0
  
  def deposit(self, money) :          # 입금 메소드 deposit
    self.deposit_count += 1           # 인스턴스.deposit(금액)이 실행될 경우 deposit_count가 1씩 증가
    if money > 0 :                    # 금액이 1 이상일 경우 실행
      self.balance += money           # 기존 잔고 + 입금액 으로 잔고 수정
      if self.deposit_count == 5 :    # deposit_count가 5가 될 경우 실행
        self.balance *= 1.01          # 기존 잔고 * 1.01 로 잔고 수정 [1% 이자가 잔고에 추가]
        self.deposit_count = 0        # deposit_count를 다시 0으로 변경 [입금 5회마다 실행될수 있도록]
    else :
      print("입금은 최소 1원 이상 가능합니다.")

a = Account('파이썬',10000,'SC은행')
a.deposit(10)
a.deposit(10)
a.deposit(10)
a.deposit(10)
a.deposit(10)
a.balance

10150.5

28 여러 객체 생성

Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.

In [ ]:
class Account :
  count = 1
  d_count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1
    self.deposit_count = 0

a = Account('이승엽', 5000000, 'KB')
b = Account('김재환', 2000000, '하나')
c = Account('양의지', 150000, '카카오')

slist = [a,b,c]

29 객체 순회

반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.

In [ ]:
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1
    self.deposit_count = 0

a = Account('이승엽', 5000000, 'KB')
b = Account('김재환', 2000000, '하나')
c = Account('양의지', 150000, '카카오')

slist = [a,b,c]

for i in slist :
  if i.balance >= 1000000 :
    print(i.name)

이승엽
김재환

30 입출금 내역

입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.

힌트: 리스트

In [ ]:
class Account :
  count = 0
  def __init__(self,name,balance,bank) :
    self.name = name
    self.balance = balance
    self.bank = bank
    Account.count += 1
    self.deposit_count = 0
    self.deposit_log = []       # 입금 내역 저장하는 빈 리스트 생성
    self.withdraw_log = []      # 출금 내역 저장하는 빈 리스트 생성
  
  def get_account_num(self) :
    return Account.count

  def deposit(self, money) :  # 입금 메소드 deposit
    if money > 0 :
      self.deposit_log.append(f'{money}이 입금 됨') # 인스턴스.deposit(금액) => deposit_log 리스트에 '금액이 입금 됨' 이 추가
      self.deposit_count += 1 # 입금 횟수 +1
      self.balance += money   # 잔고 + 금액 => 잔고 수정

      if self.deposit_count == 5 :  # 입금 횟수 5회 일때 실행
        self.balance *= 1.01        # 잔고에 1프로의 이자가 쌓임
        self.deposit_count = 0      # 입금 횟수 초기화 [5회마다 실행되도록 함]
    else :
      print("입금은 최소 1원 이상 가능합니다.") # 입금액이 1원 미만일때 출력

  def withdraw(self, money) : # 출금 메소드 withdraw
    if money < self.balance : # 출금액이 잔고 보다 작을때 실행
      self.withdraw_log.append(f'{money}이 출금 됨')  # 인스턴스.withdraw(금액) => withdraw_log 리스트에 '금액이 출금 됨'이 추가
      self.balance -= money   # 잔고 - 금액 => 잔고 수정
    else : 
      print("잔고보다 많은 금액입니다.")  # 잔고보다 많은 금액으로 출금을 시도했을때 출력

a = Account('이승엽', 5000000, 'KB')
a.deposit(100)
a.withdraw(500)

print('입금기록', a.deposit_log)
print('출금기록', a.withdraw_log)

입금기록 ['100이 입금 됨']
출금기록 ['500이 출금 됨']

31 클래스 정의

다음 코드가 동작하도록 차 클래스를 정의하세요.

```
>> car = 차(2, 1000)
>> car.바퀴
2
>> car.가격
1000
```

In [ ]:
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

32 클래스 상속

차 클래스를 상속받은 자전차 클래스를 정의하세요.

In [ ]:
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

class 자전차(차) :
  pass

33 클래스 상속
다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

```
>> bicycle = 자전차(2, 100)
>> bicycle.가격
100
```

In [ ]:
# 차 클래스 정의
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

# 차 클래스를 상속받는 자전차 클래스 정의
class 자전차(차) :
  def __init__(self,바퀴,가격):
    super().__init__(바퀴,가격) 

# bicycle 인스턴스 생성
bicycle = 자전차(2, 100)  # bicycle.바퀴 = 2, bicycle.가격 = 100 저장
bicycle.가격

100

34 클래스 상속

다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

```
>> bicycle = 자전차(2, 100, "시마노")
>> bicycle.구동계
시마노
```

In [ ]:
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

class 자전차(차) :
  def __init__(self,바퀴,가격,구동계):
    super().__init__(바퀴,가격)
    self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.구동계

'시마노'

35 클래스 상속

다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

```
>> car = 자동차(4, 1000)
>> car.정보()
바퀴수 4
가격 1000
```

In [ ]:
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

class 자전차(차) :
  def __init__(self,바퀴,가격,구동계):
    super().__init__(바퀴,가격)
    self.구동계 = 구동계

class 자동차(차) :
  def __init__(self,바퀴,가격):
    super().__init__(바퀴,가격)
  def 정보(self) :
    print("바퀴수",self.바퀴)
    print("가격", self.가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

36 부모 클래스 생성자 호출

다음 코드가 동작하도록 '차' 클래스를 수정하세요.

```
>> bicycle = 자전차(2, 100, "시마노")
>> bicycle.정보()
바퀴수 2
가격 100
```

In [ ]:
# 차 클래스 정의
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

# 차 클래스를 상속받는 자전차 클래스 정의
class 자전차(차) :
  def __init__(self,바퀴,가격,구동계):
    super().__init__(바퀴,가격)     # 부모 클래스의 __init__() 통해 인스턴스.바퀴 = 바퀴, 인스턴스.가격 = 가격 저장 
    self.구동계 = 구동계            # 인스턴스.구동계 = 구동계 저장
  def 정보(self) :                  # 인스턴스.정보() 로 실행
    print("바퀴수",self.바퀴)           
    print("가격", self.가격)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

37 부모 클래스 메서드 호출

'자전차의 정보() 메서드'로 구동계 정보까지 출력하도록 수정해보세요.

```
>> bicycle = 자전차(2, 100, "시마노")
>> bicycle.정보()
바퀴수 2
가격 100
구동계 시마노
```

In [ ]:
class 차 :
  def __init__(self,바퀴,가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

class 자전차(차) :
  def __init__(self,바퀴,가격,구동계):
    super().__init__(바퀴,가격)
    self.구동계 = 구동계
  def 정보(self) :
    print("바퀴수",self.바퀴)
    print("가격", self.가격)
    print("구동계", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

38 메서드 오버라이딩

다음 코드의 실행 결과를 예상해보세요.

```
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")
나 = 자식()
나.호출()
```

In [ ]:
#

39 생성자

다음 코드의 실행 결과를 예상해보세요.

```
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
나 = 자식()
```

In [ ]:
# 나 = 자식() => 자식의 초기화 메소드 실행 => 자식생성 출력

40 부모클래스 생성자 호출

다음 코드의 실행 결과를 예상해보세요.

```
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()
```

In [ ]:
# 나 = 자식() => 자식의 초기화 메소드 실행 => 자식생성 출력
# => 부모의 초기화 메소드 실행 => 부모생성 출력