01 리스트 생성

2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

![image.png]()

In [ ]:
#movie_rank 리스트 생성
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

02 리스트에 원소 추가

01의 movie_rank 리스트에 "배트맨"을 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨') #movie_rank 리스트에 배트맨 추가
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

03

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

```
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
```

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨') # 리스트.insert(인덱스, 값) => 리스트에서 해당 인덱스에 원하는 값을 추가할 수 있다. 기존에 인덱스의 있던 값은 뒤로 밀린다.
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

04

movie_rank 리스트에서 '럭키'를 삭제하라.

```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
```

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
#pop 인덱스의 위치를 알고 있을때 사용
#movie_rank.pop(3)
print(movie_rank)

#del로 인덱스를 삭제하는 방법
#del movie_rank[3]

#remove 인덱스는 모르고, 항목명을 이용하여 삭제
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

05
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
```

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

06

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

```
>> lang1 = ["C", "C++", "JAVA"]
>> lang2 = ["Python", "Go", "C#"]
```
```
실행 예:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2 #리스트 + 리스트 => 리스트는 합치는 것이 가능하다
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

07

다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

```
nums = [1, 2, 3, 4, 5, 6, 7]
```
```
실행 예:
max:  7
min:  1
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:',max(nums))
print('min:',min(nums))

max: 7
min: 1

08

다음 리스트의 합을 출력하라.

```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
15
```

In [ ]:
nums = [1, 2, 3, 4, 5]
sum(nums) #sum() 함수를 이용하면 리스트 내부의 합을 구할 수 있다.

15

09

다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
```
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
```

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook) #len(리스트) 리스트의 크기를 구할 수 있다.

12

10
다음 리스트의 평균을 출력하라.

```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
3.0
```

In [ ]:
nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0

11

price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

```
price = ['20180728', 100, 130, 140, 150, 160, 170]
```
```
출력 예시:
[100, 130, 140, 150, 160, 170]
```

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

12

슬라이싱을 사용해서 홀수만 출력하라.

```
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
```
실행 예:
[1, 3, 5, 7, 9]
```

In [ ]:
#리스트 슬라이싱 => 리스트[시작:끝:스탭]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2]) #처음부터 끝까지 2스탭으로 출력 => [1,3,5,7,9] 홀수만 출력

[1, 3, 5, 7, 9]

13

슬라이싱을 사용해서 짝수만 출력하라.

```
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
```
실행 예:
[2, 4, 6, 8, 10]
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

14

슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
[5, 4, 3, 2, 1]
```

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

15

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

```
interest = ['삼성전자', 'LG전자', 'Naver']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 Naver
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
#for i in range(0,len(interest),2):
#  print(interest[i], end =" ")

# 파이썬 join 함수
# '구분자'.join(리스트)
" ".join(interest[::2]) # 공백으로 interest 리스트를 2스탭으로 연결 => 삼성전자 Naver

'삼성전자 Naver'

16 join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#for i in interest :
#  print(i,end=" ")

" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

17 join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#for i in interest:
#  print(i,end="/")
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

18 join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
```

In [ ]:
# 파이썬 join 함수
# '구분자'.join(리스트)
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest)) # \n(줄바꿈)하여 하나씩 출력됨

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

19 문자열 split 메서드

회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
```
string = "삼성전자/LG전자/Naver"
```
이를 interest 이름의 리스트로 분리 저장하라.
```
실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']
```

In [ ]:
# 문자열 split
# 문자열.split('구분자') => 문자열을 구분자로 나눠서 리스트로 저장
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

20 리스트 정렬

리스트에 있는 값을 오름차순으로 정렬하세요.
```
data = [2, 4, 3, 1, 5, 10, 9]
```

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)
data.sort(reverse=True)
print(data)

a = sorted(data)
print(a)
b = sorted(data, reverse=True)
print(b)

[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]