01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [ ]:
# def 함수이름 :
# 함수에서 하는 행위 작성
def print_new() :
  print("뉴딜")

02

01번에서 정의한 함수를 호출하라.

In [ ]:
#함수명() 함수 호출
print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [ ]:
#반복문을 이용하여 100번 호출
for i in range(100) :
  print_new()

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [ ]:
def new_prints() :          # 함수 선언
  for i in range(100) :     # 100회 반복하는 반복문 작성
    print("뉴딜")           # 반복할 내용 작성

new_prints()                #함수 실행

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [1]:
#함수가 정의되기 전에 함수를 불러와서 에러가 발생
#함수를 선언한 뒤 함수를 호출하면 사용 가능

def hello():
    print("Hi")

hello()

Hi

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [ ]:
A
B
C
A
B
#message()함수를 실행하면 A, B가 출력되고, C를 출력한 이후 다시 message() 함수를 실행하여 A, B가 다시 출력된다.

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [ ]:
A
C
B
#A를 먼저 출력하고, message() 함수를 정의.
#C를 출력한 뒤, message() 함수가 실행되어 B가 출력된다.

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
A
C
B
E
D
#A 출력, message1() 함수 정의, C 출력, message2() 함수 정의
#message1() 실행 B 출력, E 출력, message2() 실행 D 출력

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
B
A
#message1(), message2() 함수 정의
#message2()실행 B 출력, message1()실행 A 출력

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [ ]:
#함수가 순서대로 정의
#message3() 함수 실행
#반복문 3회 실행 B C B C B C 출력 된 후 message1() 실행되어 A 출력

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [ ]:
#함수("안녕") 실행 -> 안녕 출력
#함수("Hi") 실행 -> Hi 출력

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
#함수(3,4) 실행 -> 7 출력
#함수(7,8) 실행 -> 15 출력

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
#함수()에 주어지는 인수가 없어서 에러가 발생

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
#주어지는 인수의 타입이 서로 일치하지 않아 에러가 발생

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
def print_with_smile(msg) :   # 함수 정의 
  print(msg + " :D")          # 함수가 하는 일 작성

print_with_smile("안녕")      # 문자열 뒤에 :D 가 붙어 출력

안녕 :D

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
# 15번에서 정의한 함수 print_with_smile() 에
# 파라미터 "안녕하세요" 입력 후 실행
print_with_smile("안녕하세요")

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
def print_upper_price(price) :
  print(price*1.3)

print_upper_price(2000)

2600.0

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
# 함수 정의
def print_sum(a,b) :  # 2개의 숫자를 받음
  print(a+b)          # 두 수의 합을 계산

print_sum(2,3)

5

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [ ]:
def print_arithmetic_operation(a,b) :
  print("합 =",a+b)
  print("차 =",a-b)
  print("곱 =",a*b)
  print("나눗셈 =", a/b)

print_arithmetic_operation(3,4)

합 = 7
차 = -1
곱 = 12
나눗셈 = 0.75

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(a,b,c) :
  max_value = 0
  if a > max_value :
    max_value = a
  if b > max_value :
    max_value = b
  if c > max_value :
    max_value = c
  print(max_value)

print_max(1,2,3)

3

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [ ]:
#def print_reverse(msg) :
#  for i in range(len(msg)-1,-1,-1) :
#    print(msg[i],end="")

# 함수 정의
def print_reverse(msg) :
    print(msg[::-1])      #리스트를 역순으로 정리

print_reverse("python")   #역순 출력 확인

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [ ]:
def print_score(score) :
  sum = 0
  for i in range(len(score)):
    sum += score[i]
  print(sum/len(score))

#2번째 방법
#def print_score(slist) :
#  print(sum(slist)/len(slist))

print_score ([1, 2, 3])

2.0

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [ ]:
def print_even(num) :
  for i in num :
    if i%2 == 0 :
      print(i)
print_even (1, 3, 2, 10, 12, 11, 15)

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [ ]:
def print_keys(s) :         #함수 정의
  #print(list(s.keys()))    #key 값을 확인
  for i in s.keys() :       #key 값을 하나씩 넣는 반복문 생성
    print(i) 

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

['이름', '나이', '성별']
이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [ ]:
def print_5xn(msg) :
  line_num = int(len(msg)/5)
  for i in range(line_num) :
    print(msg[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [ ]:
def printmxn(s, count) :
  num_line = int(len(s)/count)
  for i in range(num_line+1) :
    print(s[i*3:i*3+3])
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [3]:
def calc_monthly_salary(annual_salary) :  #함수 정의
  print(int(annual_salary/12))            #연봉을 받아 12개월로 나누고, 정수 표현을 위해 int로 타입 변환

calc_monthly_salary(12000000)

1000000

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [ ]:
#a와b에 각각 값이 대입되어 출력
#왼쪽 : 100, 오른쪽 : 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [ ]:
#낚시문제
#a와 b에 값이 대입되어 출력
#왼쪽 : 200, 오른쪽 : 100 입력되어 출력

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
#n_plus_1(3) 실행 후, print(result)에서 result로 선언된 변수가 없어서 에러가 발생한다.
#n_plus_1에서 선언된 result는 지역변수라서 밖에서 불러올 수 없다

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [ ]:
def make_url(s) :
  print("www."+s+".com")

make_url("naver")

www.naver.com

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [9]:
def make_list(s) :
  alist = []
  for i in s:
    alist.append(i)
  print(alist)

make_list("abcd")

['a', 'b', 'c', 'd']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [26]:
def pickup_even(slist) :      #함수 정의
  result_list = []            #결과 리스트를 빈 배열로 생성
  for i in slist :            #리스트의 인자값을 하나씩 넣는 반복문
    if i%2 == 0:              #값이 짝수 일때
      result_list.append(i)   #result_list에 i를 추가
  print(result_list)          #출력

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [ ]:
def convert_int(s) :
  print(int(s.replace(",","")))     #문자열의 ,를 지우고 int타입으로 변환

convert_int("1,234,567")

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
#22가 출력된다.
#함수(10) => 14 => a
#함수(14) => 18 => b
#함수(18) => 22 => c

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
#함수(함수(함수(10))) => 함수(함수(14)) => 함수(18) => 22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
#함수1(10) => 14 => a
#함수2(14) => 140 => c

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
#함수2(10) => 함수1(12) => 16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [ ]:
#함수2(2) => 함수1(12) => 함수0(14) => 28